{% extends "base.html" %}
{% block content %}
<h2>Customer Dashboard</h2>

<h4>Your Ride Requests</h4>
{% if rides %}
    <ul class="list-group mb-4">
        {% for ride in rides %}
        <li class="list-group-item">
            <b>Pickup:</b> {{ ride.pickup }} |
            <b>Destination:</b> {{ ride.destination }} |
            <b>Status:</b> {{ ride.status }}

            {% if ride.status == "accepted" %}
            <br><b>Driver Assigned</b>
            <br>ETA: {{ ride.eta if ride.eta else "Calculating..." }}

            <br>Confirmation Code: <span class="text-primary">{{ ride.match_code }}</span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no ride requests.</p>
{% endif %}

<h4>Available Drivers</h4>
{% if drivers %}
    <ul class="list-group">
        {% for driver in drivers %}
        <li class="list-group-item">
            Driver ID: {{ driver["user_id"] }} |
            Vehicle: {{ driver["vehicle_details"]["info"] if driver["vehicle_details"] else "N/A" }}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No drivers currently available.</p>
{% endif %}
{% endblock %}
